{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% block title %} Usuario desactivado {% endblock %}



{% block body_class %}Usuario desactivado{% endblock %}

{% block body %}

<!--HEADER-TITULO-->
		<div id="page-header" class="content">
			<div class="container">
				<div class="titulo-blk-row">
					<div class="titulo-txt blk-cell">
					 	<h2> <i class="fa fa-lock fa-2x" aria-hidden="true"></i> &nbsp; Cambio de contraseña</h2>
					</div>
				</div>
			</div>
		</div>
<div class="container">
	<div class="row">
		<div class="col-12" id="general">
			<form id="formulario" method="post" enctype="multipart/form-data" action="">{% csrf_token %}
				<div class="form-group">
				 <input type="password" class="form-control" name="old_password" placeholder="Ingresa tu contraseña actual"></input>
			</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Ingresa tu contraseña nueva"></input>
				</div>
				<div class="from-group">
					<input type="submit" class="btn btn-primary orange btn-block" value="Confirmar">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">

</script>
{% endblock %}
