{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% block title %} Convenios {% endblock %}

{% block body_class %}Convenios{% endblock %}

{% block body %}
<div class="span12">
  <div class="widget ">
    <div class="widget-header">
        <i class="fa fa-star-o"></i>
        <h3>Logros</h3>
    </div> <!-- /widget-header -->
    <div class="widget-content">
<div class="col-md-6">
<form id="search_agrees" action="" method="get" name="search_agrees" >{% csrf_token %}
        <input id="vigente" type="checkbox" value="vigente" name="vigente">Vigente
        <input id="todos" type="checkbox" value="todos" name="vigente">Todos
        <input id="search_agreement" type="text" placeholder="Buscar Convenios" name="nombre">
        <button type="submit" class="btn btn-default m-left-5" id="search_agree" name="search_agrees">Buscar
         </button>
            {% if items %}
                <a href="{% url "upload_accomplishment" %}" >
                    <button type="button" class="btn btn-default pull-right" name="Agregar Convenio">Agregar Logro
                    </button>
                </a>
            {% else %}
                <a href="{% url "upload_accomplishment" %}" >
                    <button type="button" class="btn btn-default pull-right" name="Agregar Convenio">Agregar Logro
                      </button></a>
            {% endif %}
</form>


		</div>
<input type="hidden" name="site" id="site" class="site" values="{{ site }}">

    <div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
                 <th class="agree-detail">ID </th>
                 <th class="agree-detail">Tipo </th>
                 <th class="agree-detail">Objetivo </th>
                 <th class="agree-detail">Responsable </th>
			</tr>
		</thead>
		<tbody>
			{% for wp in items %}
			<tr>
            	<td><a href="{% url 'agreementgesp.views.update_accomplishment' wp.id %}">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
                {{ wp.description }}</td>
				<td>{{ wp.agreement_type }} </td>
                <td>{{ wp.objective }} </td>
                <td>{{ wp.technical_support }} </td>
			</tr>
			{% empty %}
				<tr>
					<td colspan="9" class="text-center">No hay convenios</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
    <script src="{{ STATIC_URL }}base/js/jquery.min.js"></script>
    <script type="text/javascript">
  $(document).ready(function(){
     $('#vigente').on("click", function(e){
         var todos = "";
         var vigente = "";
         if($("#vigente").is(':checked')) {
            vigente = $("#vigente").val();
        }
         else {
             todos = $("#vigente").val();
         }
         $.ajax({
         data: {'vigente': vigente, 'todos':todos},
         url: '/agreement/searchvalid/',
         type: 'get',
         success : function(data) {
                    console.log(data[0].id);
             var id_s = data[0].id;
             var htmls = "<table class='table table-striped'>" +
                        "<thead><tr><th class='agree-detail'>No. Programa </th>" +
                        "<th class='agree-detail'>Instrumento Legal Subscrito</th>" +
                        "<th class='agree-detail'>Modalidad del Instrumento</th>" +
                        "<th class='agree-detail'>Version del documento</th>" +
                        "</tr></thead><tbody>";

             for (i = 0; i < data.length; i++) {
                        htmls += "<tr> " +
                        "<td class='detail_agreProg' id='"+data[i].id+"'><a href='#'><img src='{{STATIC_URL}}base/img/search.svg' class='img-space' /></a>" + data[i].prog_number+
                        "</td>"+
                        "<td>"+data[i].legasl_instrument+"</td>"+
                        "<td>"+data[i].modal+"</td>"+
                        "<td>"+data[i].version_docto+"</td>";
                         }
             htmls += "</tbody></table>";
                $('.table-responsive').html(htmls);
         },
         error : function(message) {
                 console.log(message);
              }
         });
    });


      $('#todos').on("click", function(e){
         var todos = "";
         var vigente = "";
         if($("#vigente").is(':checked')) {
            vigente = $("#vigente").val();
        }
         else {
             todos = $("#vigente").val();
         }
         $.ajax({
         data: {'vigente': vigente, 'todos':todos},
         url: '/agreement/searchall/',
         type: 'get',
         success : function(data) {
                    console.log(data[0].id);
             var id_s = data[0].id;
             var htmls = "<table class='table table-striped'>" +
                        "<thead><tr><th class='agree-detail'>No. Programa </th>" +
                        "<th class='agree-detail'>Instrumento Legal Subscrito</th>" +
                        "<th class='agree-detail'>Modalidad del Instrumento</th>" +
                        "<th class='agree-detail'>Version del documento</th>" +
                        "</tr></thead><tbody>";

             for (i = 0; i < data.length; i++) {
                        htmls += "<tr> " +
                        "<td class='detail_agreProg' id='"+data[i].id+"'><a href='#'><img src='{{STATIC_URL}}base/img/search.svg' class='img-space' /></a>" + data[i].prog_number+
                        "</td>"+
                        "<td>"+data[i].legasl_instrument+"</td>"+
                        "<td>"+data[i].modal+"</td>"+
                        "<td>"+data[i].version_docto+"</td>";
                         }
             htmls += "</tbody></table>";
                $('.table-responsive').html(htmls);
         },
         error : function(message) {
                 console.log(message);
              }
         });
    });
        //Busqueda general
     $('button#search_agree').on("click", function(e){
       // Enviamos el formulario usando AJAX
         var consulta = $("#search_agreement").val();
         var todos = "";
         var vigente = "";
         if($("#todos").is(':checked')) {
            todos = $("#todos").val();
        }
         if($("#vigente").is(':checked')) {
            vigente = $("#vigente").val();
        }
       if($('#search_agreement').val()=="")
       {
             alert("Ingresa un criterio de busqueda");
            return false;
       }
       else
       {

             $.ajax({
         data: {'nombre': consulta,'todos':todos,'vigente':vigente},
         url: '/agreement/searchs/',
         type: 'get',
         success : function(data) {
                 //alert(data[0].id);
                 console.log(data[0].id);
             var id_s = data[0].id;
             var htmls = "<table class='table table-striped'>" +
                        "<thead><tr><th class='agree-detail'>No. Programa </th>" +
                        "<th class='agree-detail'>Instrumento Legal Subscrito</th>" +
                        "<th class='agree-detail'>Modalidad del Instrumento</th>" +
                        "<th class='agree-detail'>Version del documento</th>" +
                        "</tr></thead><tbody>";

             for (i = 0; i < data.length; i++) {
                        htmls += "<tr> " +
                        "<td class='detail_agreProg' id='"+data[i].id+"'><a href='#'><img src='{{STATIC_URL}}base/img/search.svg' class='img-space' /></a>" + data[i].prog_number+
                        "</td>"+
                        "<td>"+data[i].legasl_instrument+"</td>"+
                        "<td>"+data[i].modal+"</td>"+
                        "<td>"+data[i].version_docto+"</td>";
                         }
             htmls += "</tbody></table>";
                $('.table-responsive').html(htmls);
         },
         error : function(message) {
                 console.log(message);
              }
         });
   }
        return false;
    });


         //detail aggrement  Este metodo es para los objetos  que aun no existen en el DOM
    $('.table-responsive').on("click","td.detail_agreProg", function(e){
       // Redireccionamos al detalle del convenio
        var id_ag = $(this).attr('id');
        var site = $(".site").val();
        window.location= site+"/agreement/"+id_ag;

    });


  });
</script>
{% endblock %}