<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Foro - CentroGeo CONACYT">
<meta property="og:url"                content="http://idegeo.centrogeo.org.mx/apps/mugs/compare/" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Foro 2018" />
<meta property="og:description"        content="Foro – 2018 - CentroGeo CONACYT" />
<meta property="og:image"              content="https://www.centrogeo.org.mx/images/stories/pages/docencia/formacion-a-distancia/diplomado/banner_diplomado.jpg" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
<link href="{{ STATIC_URL }}base2/css/font-awesome.css" rel="stylesheet">
<script src="https://use.fontawesome.com/c3f4e9d1b2.js"></script>
<link href="{{ STATIC_URL }}base2/css/style.css" rel="stylesheet">
<link href="{{ STATIC_URL }}base2/css/pages/dashboard.css" rel="stylesheet">
<link href="{{ STATIC_URL }}forum/css/forum.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">


<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  {% block extra_head %}
  {% endblock %}
{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block header %}
    <div class="container" id="headerin">
      <div class="row mt-5">
        <div class="col-1 col-md-1 col-lg-1" id="conacyt-header">
          <a href="https://www.conacyt.gob.mx/">
            <img src="{{STATIC_URL}}base/img/logo-conacyt.png" alt="Conacyt" title="Conacyt">
          </a>
        </div>
        <div class="col-11 text-right col-md-10 text-md-center col-lg-10 text-lg-center" id="title-header">
          <h3>Centro de Investigación en
          Ciencias de Información Geoespacial</h3>
        </div>
        <span class="col-12 col-md-1 col-lg-1">
          <a href="https://www.centrogeo.org.mx/">
            <img src="{{STATIC_URL}}base/img/header_logo-centrogeo.png" alt="CentroGeo" title="CentroGeo">
          </a>
        </span>
      </div>
      <!-- <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a> -->

  </div>
  <div class="container-fluid">
    <!-- <div class="row">
      <div class="col">
          <div class="shadow">
            <hr></hr>
          </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-12 text-center pt-5" id="mosaico">
              <h4>Espacio de discusión del CentroGeo</h4>
      </div>
    </div>
  </div>
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      {% if "add_user" in perms %}
      <div class="nav-collapse">
        {% if user.is_authenticated %}
        <ul class="nav pull-right" style="margin-top: 10px;">

          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
            class="icon-user"></i> {{ user.username }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'manager.views.user_detail' user.id %}">perfil</a></li>
              {% if "add_user" in perms %}
              <li><a href="{% url 'manager.views.nuevo_usuario' %}">Registrar Usuarios</a></li>
              {% endif %}

              {% if user.username in 'kris' %}
                  <li><a href="{% url 'fmail.views.start_stop_thread' %}?stop=start">Start Tread</a></li>
                  <li><a href="{% url 'test_email' %}">Test Email</a></li>
              {% endif %}
              <li><a href="{% url 'manager.views.cerrar' %}">Salir</a></li>
            </ul>
          </li>

        </ul>
        {% endif %}
      </div>
      {% else %}
      <div class="nav-collapse">
        {% if user.is_authenticated %}
        <ul class="nav pull-right" style="margin-top: 10px;">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
            class="icon-user"></i> {{ user.username }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'manager.views.user_detail' user.id %}">perfil</a></li>
              {% if user.username in 'kris' %}
                <li><a href="{% url 'fmail.views.start_stop_thread' %}?stop=start">Start Tread</a></li>
                <li><a href="{% url 'test_email' %}">Test Email</a></li>
              {% endif %}
              <li><a href="{% url 'manager.views.cerrar' %}">Salir</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div>
      {% endif %}
      <!--/.nav-collapse -->
      <ul class="mainnav">
        <li class="{% if 'home' in request.get_full_path %}active{%endif%}"><a href="https://www.centrogeo.org.mx/"><i class="fa fa-home"></i><span>CentroGeo</span> </a> </li>
         <!-- <li class="{% if 'agreementgesp' in request.get_full_path %}active{%endif%}"><a href="{% url 'agreementgesp.views.list_agreementgesp' %}"><i class="icon-list-alt"></i><span>Documentos</span> </a> </li>
        <li class="{% if 'upload_document' in request.get_full_path %}active{%endif%}"><a href="{% url 'doctos.views.upload_document' %}"><i class="fa fa-file-text"></i><span>Agregar Documentos</span> </a> </li>  -->
        <li class="{% if 'forum_web' in request.get_full_path %}active{%endif%}"><a href="{% url 'forum.views.forum_web' %}"><i class="fa fa-comments-o"></i><span>Foro</span> </a> </li>
          {% if "add_user" in perms %}
              <li class="{% if 'usuario' in request.get_full_path %}active{%endif%}"><a href="{% url 'manager.views.user_list' %}"><i class="icon-group"></i><span>Usuarios</span> </a> </li>
              {% else %}
                {% if user.is_staff %}
                    <li class="{% if 'usuario' in request.get_full_path %}active{%endif%}"><a href="{% url 'manager.views.user_list' %}"><i class="icon-group"></i><span>Usuarios</span> </a> </li>
                {% endif %}
           {% endif %}
      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
{% endblock header %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        {% block map_view %}{% endblock %}
        {% block middle %}
          {% block body_outer %}
            {% block body %}{% endblock %}
            <div class="col-md-4">
            {% block sidebar %}{% endblock %}
            </div>
          {% endblock %}
        {% endblock middle %}
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner -->
</div>
<!-- /main -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12">Centro de investigación en ciencias de la información geoespacial. <a href="http://www.centrogeo.org.mx/">CentroGeo</a>. &copy; 2018</div>
        <!-- /span12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /footer-inner -->
</div>
<!-- /footer -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}base2/js/jquery-1.7.2.min.js"></script>
<script src="{{ STATIC_URL }}base2/js/excanvas.min.js"></script>
<script src="{{ STATIC_URL }}base2/js/chart.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base2/js/bootstrap.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}base2/js/full-calendar/fullcalendar.min.js"></script>
<script src="{{ STATIC_URL }}base2/js/base.js"></script>
<!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

{% block extra_script %}{% endblock extra_script %}
</body>
</html>
