{% extends "research_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block title %} Propuestas {% endblock %}

{% block head %}
  {% include "geonode/ext_header.html" %}
  {{ block.super }}
{% endblock %}

{% block body_class %}institutions{% endblock %}

{% block body %}

<!--HEADER-TITULO-->
		<div id="page-header" class="content">
			<div class="container">
				<div class="titulo-blk-row">
					<div class="titulo-img blk-cell"><img src="{{STATIC_URL}}agreements/img/files_blue.png" alt=""></div>
					<div class="titulo-txt blk-cell">
						<h2>Agregar Documento</h2>
					</div>
				</div>
			</div>
		</div>
<div class="container">
	<div class="row">
		<div class="col-md-6" id="general">
			<form id="formulario" method="post" enctype="multipart/form-data" action="">{% csrf_token %}
				{{ formulario.media }}
				{{formulario|as_bootstrap}}
				<p><input type="submit" class="btn btn-primary" value="Confirmar"></p>
			</form>
		</div>
	</div>
</div>
{% endblock %}